<div class="col-xs-6">
  <button class="btn btn-primary" (click)="toggleSecret()">Display Details</button>
  <p *ngIf="showSecret">{{ secret }}</p>
  <p *ngFor="let clicks of arrayClicks" [ngStyle]="{backgroundColor: getIndex(clicks) }"
  [ngClass]="{geqfive: clicks >= 5}">{{ clicks }}</p>
</div>